<footer>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark text-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{rootWay}}"> WeatherAppViMi</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{rootWay}}">Home</a></li>
        </ul>
    </div>
    </div>
</nav>
</footer>