<header>
<nav class = "navbar navbar-expand-md navbar-light bg-light top-0">
    <div class="container-fluid">
        <a class = "navbar-brand" href="{{rootWay}}">Weather App ViMi</a>
        <div class="collapse navbar-collapse" id="navbarWeatherApp">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{rootWay}}">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>