<main class="container">
    <div class="bg-light p-5 rounded mt-3">
        <h1>Weather Application ViMi Lab_1</h1>
        <p class="lead"> Are you want to getting up a weather information in you City !?</p>
        <a class="btn btn-lg btn-primary align-items-center" href="{{rootWay}}/{{stdCity}}">Let`s start >></a>
    </div>
</main>
