<div class="card mb-3">
<div class="row g-0">
<div class="col-4">
    <img src="/res/img/placeholder.jpg" class="img-fluid rounded" alt="placeholder image"/>
</div>
    <div class="col-8">
        <div class="card-body">
            <h4 class="card-title">City : {{weatherInfo.name}}</h4>
            <h5>Country : {{weatherInfo.sys.country}}</h5>
            <div class="card-text">
                <div>
                    {{# each weatherInfo.weather}}
                         <h3>
                             Current Weather : {{description}}
                             <img src="http://openweathermap.org/img/w/{{icon}}.png" class="img-fluid rounded" alt="weather icon"/>
                         </h3>
                    {{/each}}
                </div>
                <div class="text-muted">
                    <b>Latitude</b> : {{weatherInfo.coord.lat}} <b>Longitude:</b> {{weatherInfo.coord.lon}} <br/>
                    <b>Humidity :</b> {{weatherInfo.main.humidity}} <b>Pressure:</b> {{weatherInfo.main.pressure}} <br/>
                    <b>Wind Speed :</b> {{weatherInfo.wind.speed}} <b>Temp:</b> {{weatherInfo.main.temp}}
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</div>

