<ul class="list-group">
    {{#each cities}}
        <li class="list-group-item list-group-item-light bg-light">
            <a class="link-dark nav-link" href="/weather/{{name}}">{{name}}</a>
        </li>
    {{/each}}
</ul>