<main class="container-fluid">
    <div class="row">
        <div class="col-5">
            {{> weather_list}}
        </div>

        <div class="col-7">
            {{> weather_info}}
        </div>
    </div>
</main>